<% page_title "Enter email address", @passwordless %>

<%= form_with model: @passwordless, url: passwordless_path, local: true, html: { autocomplete: "off" } do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Enter your email address</h1>

  <%= f.govuk_email_field :email, required: true, width: 'one-half' %>

  <p class="govuk-body">
    This service uses passwordless sign-in. You can access this service a secure one-time link sent to your email.
  </p>

  <p class="govuk-body">
    By continuing, you confirm that you agree to our:
  </p>

  <%= govuk_list(type: :bullet) do %>
    <li><%= govuk_link_to "privacy notice", "https://www.trade-tariff.service.gov.uk/privacy", new_tab: true %>, which explains how we use your personal information</li>
    <li><%= govuk_link_to "terms and conditions", "https://www.trade-tariff.service.gov.uk/terms", new_tab: true %></li>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
